/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/************************************/
/* BELOW 1344px (Smaller desktops) */
/************************************/

@media (max-width: 84em) {
  .container--large {
    max-width: 130rem;
  }
}

/************************************/
/* BELOW 1200px */
/************************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
    /* 8px / 16px */
    /* font-size: 50%; */
  }

  h1 {
    font-size: 4rem;
  }

  .container--large {
    max-width: 120rem;
  }

  /* .food-options {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
  } */
}

/************************************/
/* BELOW 1104px */
/************************************/

@media (max-width: 69em) {
  html {
    font-size: 50%;
  }
}

/************************************/
/* BELOW 975px */
/************************************/

@media (max-width: 61.5em) {
  h1 {
    font-size: 4.4rem;
  }

  .hero {
    grid-template-columns: 1fr;
    width: unset;
  }

  .btn-mobile-nav {
    display: block;
  }

  .page-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    /* Hide it visually */
    opacity: 0;

    /* make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .page-navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    flex-direction: column;
    gap: 4.8rem;
    z-index: 999;
  }

  .hero-img {
    width: 80%;
  }

  .hero-text-box,
  .header-description {
    text-align: center;
  }

  .customers {
    margin-top: 0;
  }

  .container {
    max-width: 110rem;
  }

  .signup-banner {
    max-width: 100rem;
  }

  .signup-content {
    padding: 3.6rem 2.4rem 0 3.6rem;
  }
}

/************************************/
/* BELOW 850px */
/************************************/

@media (max-width: 53em) {
  h1 {
    font-size: 3.6rem;
  }

  .secondary-heading {
    font-size: 3rem;
  }

  .whats-inside-title {
    font-size: 3rem;
  }

  .why-choose-us-content {
    grid-template-columns: 1fr 1fr;
    row-gap: 3.6rem;
  }

  .signup-banner {
    width: fit-content;
    grid-template-columns: 1fr;
    max-width: 70rem;
    gap: 0;
  }

  .signup-image {
    grid-row: 1 / 2;
  }

  .signup-content {
    padding: 3.6rem 2.4rem;
    padding-bottom: 5.6rem;
  }

  .reviews {
    grid-template-columns: 1fr 1fr;
  }

  .food-options {
    grid-template-columns: 1fr 1fr;
  }

  li {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .logo {
    height: 2.4rem;
  }

  .customers-text {
    font-size: 1.6rem;
  }
}

/************************************/
/* BELOW 800px */
/************************************/

@media (max-width: 50em) {
}

/************************************/
/* BELOW 720px */
/************************************/

@media (max-width: 45em) {
  .customer {
    height: 4rem;
    width: 4rem;
  }

  .whats-inside-content {
    grid-template-columns: 1fr;
  }

  .whats-inside-image-box,
  .whats-inside-text {
    justify-self: center;
    text-align: center;
  }

  .whats-inside-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/************************************/
/* BELOW 670px */
/************************************/

@media (max-width: 42em) {
  .logo {
    height: 1.6rem;
  }

  li {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

/************************************/
/* BELOW 600px */
/************************************/

@media (max-width: 37em) {
  .pricing-content {
    flex-wrap: wrap;
  }

  .signup-banner {
    max-width: 60rem;
  }

  .FAQ-question {
    font-size: 1.6rem;
  }
}

/************************************/
/* BELOW 500px */
/************************************/

@media (max-width: 32em) {
  .reviews,
  .why-choose-us-content {
    grid-template-columns: 1fr;
  }

  .header-description {
    font-size: 1.6rem;
  }

  .button {
    padding: 1.2rem 1.6rem;
  }

  .signup-banner {
    max-width: 50rem;
  }

  .food-options {
    grid-template-columns: 1fr;
  }

  li {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .logo {
    height: 1.2rem;
  }

  .customers {
    display: block;
  }

  .whats-inside-image {
    width: 38rem;
    height: 32rem;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

/************************************/
/* BELOW 400px */
/************************************/

@media (max-width: 25em) {
  .signup-banner {
    max-width: 35rem;
  }

  .signup-heading {
    font-size: 2rem;
  }

  .signup-description {
    font-size: 1.4rem;
  }

  .action-btns {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  li {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
